<!-- Barra superior de redes sociales (alineada a la derecha) -->
<div class="top-bar-sevillanea" id="topBar">
  <div class="topbar-content">
    <div class="social-icons">
      <a href="https://www.instagram.com/" target="_blank">
        <img src="assets/imagenes/instagram.png" alt="Instagram" class="icono-red" />
        <span>Instagram</span>
      </a>
      <a href="https://www.tiktok.com/es-419/" target="_blank">
        <img src="assets/imagenes/tiktok.png" alt="TikTok" class="icono-red" />
        <span>TikTok</span>
      </a>
      <a href="https://www.youtube.com/" target="_blank">
        <img src="assets/imagenes/youtube.png" alt="YouTube" class="icono-red" />
        <span>YouTube</span>
      </a>
    </div>
  </div>
</div>

<!--  Menú blanco que sube y reemplaza al negro -->
<nav class="navbar" id="navbar">
  <div class="navbar-container">

    <a routerLink="/" class="navbar-logo">
      <img src="assets/imagenes/sevillanea.png" alt="Logotipo Sevillanea" class="logo-izquierda" />
    </a>

    <!-- MENU HAMBURGUESA(RESPONSIVE EN VERSIÓN MÓVIL PARA QUE NO SE DESAJUSTE LAS OPCIONES DEL MENÚ) -->
    <div class="hamburger" (click)="toggleMenu()" [class.activo]="menuAbierto">
      <span></span>
      <span></span>
      <span></span>
    </div>

    <ul class="navbar-menu" [class.abierto]="menuAbierto">
      <li><a routerLink="/">Inicio</a></li>
      <li><a routerLink="/ofertantes">Actividades</a></li>
      <li><a routerLink="/consumidores">Comunidad</a></li>
      <li><a routerLink="/contacto">Contacto</a></li>

      <!-- Login / Perfil -->
      <li [class.hidden]="isLoggedIn"><a routerLink="/login">Iniciar sesión</a></li>
      <li [class.hidden]="!isLoggedIn">
        <a [routerLink]="['/perfil', usuario?.id]">Tu perfil</a>
      </li>
      <li [class.hidden]="isLoggedIn"><a routerLink="/registro">Regístrate</a></li>
    </ul>

  </div>
</nav>



<!-- Sección cabecera "ACTIVIDADES" -->
<section class="ofertantes-header">
  <div class="overlay"></div>
  <div class="ofertantes-header-content">
    <h1>ACTIVIDADES</h1>
  </div>
</section>


<!-- Mensaje de error -->
<div class="ventana-error" [class.visible]="mensajeError !== ''">
  {{ mensajeError }}
</div>

<!-- Cuadrícula de actividades -->
<div class="actividades-grid">
  <div class="actividad-card" *ngFor="let ofertante of ofertantes">

    <div class="actividad-header">
      <h3>{{ ofertante.actividad }}</h3>
      <span class="precio">{{ ofertante.tarifa }} €</span>
    </div>

    <div class="actividad-info">
      <p><strong>Ofertante:</strong> {{ ofertante.nombre }} {{ ofertante.apellidos }}</p>
      <p><strong>Teléfono:</strong> {{ ofertante.telefono }}</p>
    </div>

    <div class="actividad-buttons">

      <button class="btn-eliminado" (click)="borrarOfertante(ofertante)">Eliminar</button>


      <button class="btn-detalles" (click)="scrollTop()" routerLink="/ofertaInfo/{{ofertante.id}}">
        Ver detalles
      </button>

    </div>

  </div>
</div>



<!-- SECCIÓN FINAL SEVILLANEA -->


<section class="bloque-final-sevillanea">
  <div class="bloque-container">
    <div class="bloque-column">
      <img src="assets/imagenes/sevillanea.png" alt="Logotipo Sevillanea" class="logo-final" />
      <p>Descubre, organiza y comparte experiencias únicas en Sevilla. No solo puedes disfrutar de las mejores
        actividades de ocio, sino
        también convertirte en el organizador: publica tus propias propuestas y haz que otros usuarios vivan la ciudad a
        través de tu arte, tu pasión y tu visión.</p>
    </div>


    <div class="bloque-column">
      <h3>Guía de...</h3>
      <ul>
        <li><a routerLink="/ofertantes" (click)="scrollTop()">Ofertas de actividades</a></li>
        <li><a routerLink="/consumidores" (click)="scrollTop()">Demandas de actividades</a></li>
      </ul>
    </div>


    <div class="bloque-column">
      <h3>Información</h3>
      <ul>
        <li><a routerLink="/quienesSomos" (click)="scrollTop()">Quiénes Somos</a></li>
        <li><a routerLink="/privacidad" (click)="scrollTop()">Política de privacidad</a></li>
        <li><a routerLink="/cookies" (click)="scrollTop()">Política de cookies</a></li>
        <li><a routerLink="/contacto" (click)="scrollTop()">Contacto</a></li>
      </ul>
    </div>

    <div class="bloque-column">
      <h3>¿Hablamos?</h3>
      <p>📞 954 00 00 00</p>
      <p>📧 infosevillanea.com</p>
    </div>
  </div>
</section>


<!-- FOOTER FINAL DE LA PÁGINA-->
<footer class="py-4 bg-dark text-light text-center">
  <div class="container">
    <p class="mb-1">© 2025 <strong>Sevillanea</strong> · Vive Sevilla con arte</p>
  </div>
</footer>